*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Styles */
/* .young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* .outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html {
  font-size: 62.5%;
}

body {
  background-color: #f3e5d7;
  color: #5f564d;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  margin: 12.4rem 0;
}

.main-container {
  border: 1px solid red;
  padding: 4rem;
  max-width: 70.4rem;
}
.recipe_container {
  /* border: 1px solid blue; */
  max-width: 60.5rem;
}

.main-container,
.recipe_container {
  margin: 0 auto;
}

.recipe_img {
  border-radius: 12px;
  max-width: 100%;
}

.recipe_title {
  color: #312e2c;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  padding: 4rem 0 2.4rem 0;
}

.recipe_intro {
  margin-bottom: 3.2rem;
}

.prep_heading,
.kcal,
li::marker {
  color: #7a284e;
  font-weight: bold;
}

.prep_title {
  margin: 0rem 0rem 3.4rem 2.7rem;
}

.ingredients_section,
.instructions_section {
  margin: 3.2rem 0 6.4rem 0;
}

.bold {
  color: #5f564d;
  font-weight: bold;
}

.section_heading {
  color: #854632;
  font-size: 2.8rem;
}

.style_heading {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.heading {
  margin-bottom: 2.4rem;
}

.nutrition_info {
  padding-bottom: 2.4rem;
}

ul {
  list-style-type: disc #7a284e;
}

ol {
  list-style-type: decimal #7a284e;
}

ol > li,
ul > li {
  padding-left: 1.4rem;
  margin-left: 25px;
}

li {
  margin-bottom: 0.8rem;
  line-height: 2.5rem;
}

.table_row {
  display: flex;
  border-bottom: 1px solid #e3ddd7;
}
.table_cell {
  flex: 1;
  padding: 1.2rem 3.2rem;
}

.table_row:last-child {
  border-bottom: 0px;
}
